export FZF_DEFAULT_COMMAND="rg --files --hidden --follow --no-ignore-vcs"
export CODEPATH="$HOME/code"
export GOPATH="$CODEPATH/go"
{{ if (eq .chezmoi.os "darwin") -}}
export PATH="/opt/homebrew/bin:$PATH"
{{ end -}}
export PATH="$HOME/.local/bin:$HOME/.rbenv/bin:$HOME/.pyenv/bin:$HOME/.cargo/bin:$GOPATH/bin:$PATH"
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
export EDITOR=vim

alias hh=hstr                    # hh to be alias for hstr
export HSTR_CONFIG=hicolor       # get more colors
shopt -s histappend              # append new history items to .bash_history
export HISTCONTROL=ignorespace   # leading space hides commands from history
export HISTFILESIZE=10000        # increase history file size (default is 500)
export HISTSIZE=${HISTFILESIZE}  # increase history size (default is 500)
# ensure synchronization between bash memory and history file
export PROMPT_COMMAND="history -a; history -n; ${PROMPT_COMMAND}"

[[ $- != *i* ]] && return

alias ls=exa

{{ if eq .chezmoi.os "darwin" -}}
. $HOME/.fzf.bash
[[ -r "/opt/homebrew/etc/profile.d/bash_completion.sh" ]] && . "/opt/homebrew/etc/profile.d/bash_completion.sh"
{{ else -}}
. /usr/share/fzf/key-bindings.bash
. /usr/share/fzf/completion.bash
{{ end -}}

eval "$(starship init bash)"
eval "$(mise activate -q -s bash)"
eval "$(zoxide init bash)"

bind '"\C-r": "\C-a hstr -- \C-j"'
bind '"\C-xk": "\C-a hstr -k \C-j"'
