[user]
	name = John Downey
	email = {{ .email }}
[color]
	ui = auto
[alias]
	ci = commit
	co = checkout
	st = status
	staged = diff --cached
	unstaged = diff
	up = pull --rebase --autostash
	cc = commit --allow-empty-message -m \"\"
[push]
	default = current
[core]
	autocrlf = input
[rebase]
	autosquash = true
	autoStash = true
[pull]
	rebase = true
[fetch]
	writeCommitGraph = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[diff]
	tool = difftastic
	external = difft
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[rerere]
	enabled = true
	autoUpdate = true
