export CODEPATH="$HOME/code"
export GOPATH="$CODEPATH/go"
export PATH="$HOME/.local/bin:$HOME/.rbenv/bin:$HOME/.pyenv/bin:$HOME/.cargo/bin:$GOPATH/bin:$PATH"
export EDITOR=vim
export HISTSIZE=
export HISTFILESIZE=

[[ $- != *i* ]] && return

alias git=hub
{{ if eq .chezmoi.os "darwin" -}}
alias ls='ls -G'
. /usr/local/opt/asdf/asdf.sh
. $HOME/.fzf.bash
[[ -r "/usr/local/etc/profile.d/bash_completion.sh" ]] && . "/usr/local/etc/profile.d/bash_completion.sh"
{{ else -}}
alias ls='ls --color=auto'
. /opt/asdf-vm/asdf.sh
. /usr/share/fzf/key-bindings.bash
. /usr/share/fzf/completion.bash
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
{{ else -}}
{{ end -}}

eval "$(starship init bash)"
