set -g fish_greeting
set -x CODEPATH $HOME/code
set -x GOPATH $CODEPATH/go
set -x PATH $GOPATH/bin $HOME/.krew/bin $HOME/.cargo/bin $PATH
{{ if (eq .chezmoi.os "darwin") -}}
set -x PATH /opt/homebrew/opt/postgresql@17/bin /opt/homebrew/bin $PATH
{{ end -}}
set -x EDITOR nvim

function y
	set tmp (mktemp -t "yazi-cwd.XXXXXX")
	yazi $argv --cwd-file="$tmp"
	if set cwd (command cat -- "$tmp"); and [ -n "$cwd" ]; and [ "$cwd" != "$PWD" ]
		builtin cd -- "$cwd"
	end
	rm -f -- "$tmp"
end

if status is-interactive
  alias assume="source assume"
  alias cat=bat
  alias k=kubectl
  alias ls=eza
  alias vim=nvim
  {{ if (eq .chezmoi.os "darwin") -}}
  alias tailscale=/Applications/Tailscale.app/Contents/MacOS/Tailscale
  alias cd=z
  {{ end }}

  starship init fish | source
  mise activate fish | source
  zoxide init fish | source
  atuin init fish --disable-up-arrow | source
end

